* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.groceries-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groceries {
  color: green;
  font-size: 3rem;
}
